*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    background: url('images/money.jpg') no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px 80px 80px;
    }
    body
    {
        background: url('images/money.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
.container
{
    max-width: 800px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 25px;
    justify-self: center;
    background: linear-gradient(135deg, #c4a004f3, #100d22ee );
    justify-content: center;
    position: center;
}
.container
{
    justify-self: center;
    position: center;
}
.container .heading
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding: 0 0 10px 0;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
.container .heading::before
{
    content: '';
    position: relative;
    height: 3px;
    left: 1px;
    bottom: 1px;
    width: 100%;
    background: linear-gradient(135deg,#71b7eb, #9b5b);
}
.container form .card-details
{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form .card-details .card-box
{
    width: calc(50% - 200px);
    margin-bottom: 15px;
}
.card-details .card-box .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box .input
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.card-details .card-box input:focus
.card-details .card-box input:valid{border-color:#9b59b6}
.form .circle-form .circle-title
{
font-size: 20px;
font-weight: 500;
border-bottom: 2px solid;
}
form .circle-form .category
{
    margin-top: 10px;
    margin-bottom: 10px;
}
form .button
{
    text-align: center;
}
form .button input
{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #dc9106ca, #dc060dca);
}
form .button input:hover
{
    background: linear-gradient(#05073a, #dc4a06ca);
    cursor: pointer;
}




@media (max-width:584px) {.container{
    max-width:100%}
.form .card-details .card-box{
    margin-bottom: 15px;
    width: 100%;
}
.form .circle-form .category{
    width: 100%;
}
.container .form .card-details{
    max-height: 300px;
    overflow: scroll;
}
}